.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color: #4b3d3d; /* Background color */
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-content {
    text-align: center;
    font-size: 16px;
}

.footer-content p {
    color: white; /* Set the color of the p element to white */
    margin: 0; /* Remove default margin */
}